{% extends 'base.html' %}
{% block content %}
    <div class="selfintro">
        자기소개
        이름: 김현우
        나이: 21세(99년생입니다.)
        소속: 경북대학교 컴퓨터학부 글로벌소프트웨어융합전공 18학번 + 멋쟁이사자처럼 7기
    </div>
    <div class="hobby">
        취미
        볼링, 게임, 영상편집, 프로그래밍, 여행, 사진찍기
    </div>
    <div class="like">
        좋아하는 것들
        먹는거, 노는거, 만들어 내는거, 돈$버는거?
    </div>
    <div class="skill">
        기술
        한국어, 영어, 중국어, 일어, C언어, 파워포인트, 프리미어프로, 웹프로그래밍, 영상편집
    </div>
    <div class="belong">
        내가 속해있는곳
        우리가족, 경북대학교 컴퓨터학부 글로벌소프트웨어 18학번, 경북대학교 멋쟁이사자처럼 7기, 경북대학교 컴퓨터학부 동아리 L&C + 그루터기
        경북대학교 중앙동아리 KNUBC
    </div>
{% endblock %}